/*
Author: Gavin Mendel-Gleason
Description: CSS for Gamook
-------------------------------------------------------------- */

body
{
  background-color: #1C94C4;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 0.8em;
}

label, input { display:block; }

input.text { margin-bottom:12px; width:95%; padding: .4em; }

fieldset { padding:0; border:0; margin-top:25px; }

/* h1 { font-size: 1.2em; margin: .6em 0; } */

#status { 
   background-color: #00ff00;
   width: 100%; 
}

.world-page {          
    width: 50%;
    margin: 0px auto;
} 

.sidebar {  
    padding: 0px 35px 35px 35px;
}

.ui-dialog .ui-state-error { padding: .3em; }

.validateTips { border: 1px solid transparent; padding: 0.3em; }

.column {  
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
  
.destination td {
    vertical-align: top;
}
  
.entry {  
    width: 100%;
}

.submit-container {  
   padding: 5px;
}

.submit-container button {  
   /* alignment: right; */
}

.alert-link a { 
   color: #1C94C4;
   text-decoration: none;
   font-weight: bold;
}

.page ul { 
   list-style-type: none; 
   padding: 5px 10px 5px 5px;
}

.page li {  
   padding: 10px;
}

.widget-container{ 
  margin: 10px;
}

.widget {  
  padding: 5px;
  background-color: #dddddd;  /* #dddddd;*/
}

.widget-header{
  font-size: 1.5em;
  padding: 5px;
  color: #cccccc;
}

label {  
  display: block;
}

.entry-form{  
  margin: 5px;
}

.entry{ 
  vertical-align: top;
}

.transition-row td { 
  background-color: #cccccc; 
  vertical-align: top;
}

.world-list a { 
  font-size: 1.5em;            
  margin: 5px 0px 2px 15px;
}