<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Welcome to Gamook!</title>
{{meta | safe}}
</head>

<body>

<div class="page">
  <div class="world-page">
    <div id="status" class="ui-corner-all"></div>
    <h1>Welcome to Gamook!</h1>
    <ul id="world-list" class="world-list ui-widget-content ui-corner-all">
      <li><a href="http://{{server_root}}/play">Play a Gamook World</a><br/></li>
      <li><a href="http://{{server_root}}/worlds">Build a Gamook world</a></li>
    </div>
  </div>
</div>


</body> </html>
